@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@100;200&display=swap');


.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    position: relative;
    display: grid;
    top: 220%;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: "black";
    font-size: 1.25rem;
  }